[viewBag]
==
<section id="about">
    <div class="container">
       <div class="col-lg-8 col-lg-offset-2">
          <!-- Section heading -->
          <div class="section-heading">
             <h2>Nosotros</h2>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12 col-lg-5">
             <!-- Carousel -->
             <div id="owl-about" class="owl-carousel">
                <div class="item">
                   <img class="img-responsive" src="{{ 'assets/images/a1.jpg'|theme}}" alt="">
                </div>
                <div class="item">
                   <img class="img-responsive" src="{{ 'assets/img/about2.jpg'|theme}}" alt="">
                </div>
                <div class="item">
                   <img class="img-responsive" src="{{ 'assets/img/about3.jpg'|theme}}" alt="">
                </div>
             </div>
          </div>
          <!-- text -->
          <div class="col-lg-7 col-sm-12">
             <h3>Nuestra Misión</h3>
             <p>Educar niños y niñas  íntegros, desechando la robotización .
Desarrollar a través del juego la disciplina, los valores, hábitos, liderazgo,  autonomía, seguridad, llevándolos a desear descubrir, crear , imaginar aprender  y  diseñar hipótesis de solución a problemas  propios de la vida diaria. Niños felices por tanto exitosos.
             </p>
             <p>
                VISIÓN : En un lapso no mayor a 2 años iniciar la construcción de un colegio para albergar a no más de 100 familias que  vivan en sus hogares la formación católica, los valores y la ética, deseando que sus hijos se eduquen en un lugar donde se fomente el verdadero concepto de AMOR, LIBERTAD Y RESPETO. Contando con los niveles de :Inicial, Primaria y Secundaria
             </p>
          </div>
          <!-- /col-lg-8 -->
       </div>
       <!-- /row -->
       <div class="row features">
          <!-- First Collumn -->
          <div class="col-lg-12 col-sm-12">
             <!-- item1 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-game"></i>
                <div class="media-body">
                   <h5 class="media-heading">infrastructure</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
             <!-- item2 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-fruit"></i>
                <div class="media-body">
                   <h5 class="media-heading">Certified Tutors</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
             <!-- item3 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-two"></i>
                <div class="media-body">
                   <h5 class="media-heading">Small Class Size</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
          </div>
          <!-- Second Collumn -->
          <div class="col-lg-12 col-sm-12">
             <!-- item4 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-person-1"></i>
                <div class="media-body">
                   <h5 class="media-heading">Infant Care</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
             <!-- item5 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-school"></i>
                <div class="media-body">
                   <h5 class="media-heading">Safety First</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
             <!-- item6 -->
             <div class="col-md-4 media text-center">
                <i class="flaticon-music"></i>
                <div class="media-body">
                   <h5 class="media-heading">Activities</h5>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
             </div>
          </div>
       </div>
       <!-- /row features -->

       <!-- /col-lg-7 -->
    </div>
    <!--/container-->
 </section>
