[viewBag]
==
<div id="layerslider">
    {% for item in banners %}

    <!-- Slide 1 -->
    <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
       <!-- Background image -->
       <img src="{{ item.banner.path }}" class="ls-bg"  alt="Slide background"/>
       <!-- Parallax Image -->
       {% if loop.index0%2==0 %}
       <img src="{{ 'assets/img/bee.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1000;easingin:fadeIn;parallaxlevel:7;">
       {% elseif loop.index0%2==1 %}
       <img src="{{ 'assets/img/sun.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1000;easingin:fadeIn;parallaxlevel:7;">
       {% endif %}
       <!-- Text -->
       <div class="ls-l header-text container" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
          <h1>{{ item.nombre }}</h1>
          <p class="subtitle hidden-xs"> {{item.subtitulo}} </p>
          <!-- Button -->
          <div class="page-scroll hidden-xs">
             <a class="btn" href="#contact">Contactanos</a>
          </div>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/flower.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax2" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
    </div>
    {% endfor %}

</div>
