    <!-- Slide 2 -->
    <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
       <!-- Background image -->
       <img src="{{ 'assets/img/slide2.jpg'|theme}}" class="ls-bg"  alt="Slide background"/>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/bee.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:7;">
       <!-- Text -->
       <div class="ls-l header-text"  data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
          <h1>Quality daycare</h1>
          <p class="subtitle hidden-xs"> Alphabet is a Super Fun Daycare / Children HTML Theme including many Elements </p>
          <!-- Button -->
          <div class="page-scroll hidden-xs">
             <a class="btn" href="#contact">Contact us</a>
          </div>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/star.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax2" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
    </div>

    <!-- Slide 3 -->
    <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
       <!-- Background image -->
       <img src="{{ 'assets/img/slide3.jpg'|theme}}" class="ls-bg"  alt="Slide background"/>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/sun.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1000;easingin:fadeIn;parallaxlevel:7;">
       <!-- Text -->
       <div class="ls-l header-text"  data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
          <h1>Welcome to Alphabet</h1>
          <p class="subtitle hidden-xs"> Alphabet is a Super Fun Daycare / Children HTML Theme including many Elements </p>
          <!-- Button -->
          <div class="page-scroll hidden-xs">
             <a class="btn" href="#contact">Contact us</a>
          </div>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/flower.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax2" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
    </div>

    <!-- Slide 4 -->
    <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
       <!-- Background image -->
       <img src="{{ 'assets/img/slide4.jpg'|theme}}" class="ls-bg"  alt="Slide background"/>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/bee.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:7;">
       <!-- Text -->
       <div class="ls-l header-text" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
          <h1>Quality daycare</h1>
          <p class="subtitle hidden-xs"> Alphabet is a Super Fun Daycare / Children HTML Theme including many Elements </p>
          <!-- Button -->
          <div class="page-scroll hidden-xs">
             <a class="btn" href="#contact">Contact us</a>
          </div>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/star.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax2" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
    </div>

    <!-- Slide 5 -->
    <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
       <!-- Background image -->
       <img src="{{ 'assets/img/slide5.jpg'|theme}}" class="ls-bg"  alt="Slide background"/>
       <!-- Video -->
       <div class="ls-l video" data-ls="delayin:1500;easingin:fadeIn;">
           <iframe width="760" height="475" src="https://www.youtube.com/embed/e9p0xmsU3h0" allowfullscreen></iframe>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/bee.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:7;">
       <!-- Text -->
       <div class="ls-l header-text" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
          <h1>Video Layer</h1>
          <p class="subtitle hidden-xs"> Alphabet is a Super Fun Daycare / Children HTML Theme including many Elements </p>
          <!-- Button -->
          <div class="page-scroll hidden-xs">
             <a class="btn" href="#contact">Contact us</a>
          </div>
       </div>
       <!-- Parallax Image -->
       <img src="{{ 'assets/img/star.png'|theme}}" class="ls-l img-responsive hidden-xs hidden-sm parallax2" alt="" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
    </div>
